{%- if site.footer_content -%}
  <p class="text-small text-grey-dk-100 mb-0">{{ site.footer_content }}</p>
{%- endif -%}

<!-- DevZip Floating Button -->
<div class="devzip-floating-button">
  <a href="https://devzip.cloud" target="_blank" rel="noopener noreferrer" class="devzip-link">
    <svg class="devzip-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <path d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
      <path d="M12 4v1.5M18 6l-1.1 1.1M20 12h-1.5M18 18l-1.1-1.1M12 20v-1.5M6 18l1.1-1.1M4 12h1.5M6 6l1.1 1.1"/>
    </svg>
    <span class="devzip-text">
      <span class="devzip-text-main">DevZip</span>
      <span class="devzip-text-sub">&nbsp;-&nbsp;프로젝트 모음집</span>
    </span>
  </a>
</div>
